---
menu:
  - - - /
      - /standard/
      - /poe/
      - /power-supply/
      - /poe-nvme/
      - /power-supply-nvme/
      - /nvme-selection-power-supply/
      - /nvme-selection-poe/
    - Getting Started
  - - - /documentation/
      - /guides/yellow-leds/
      - /guides/reinstall-os/
      - /guides/use-serial-console-windows/
      - /guides/use-serial-console-linux-macos/
      - /guides/about-multiprotocol/
      - /guides/about-firmware-options/
      - /guides/enable-multiprotocol/
      - /guides/disable-multiprotocol/
      - /guides/create-backup/ 
      - /guides/factory-reset/
      - /guides/add-ssd-existing-installation/
      - /guides/remove-cm4/
      - /guides/flash-cm4-firmware/
      - /guides/issue-while-installing-os-on-emmc/
      - /guides/install-cm4/
      - /guides/find-a-cm4/
      - /yellow-v1.2-standard/
      - /hardware/
      - /hardware/yellow-v1.2-standard/
      - /hardware/yellow-v1.3-poe/
      - /hardware/yellow-v1.3-standard/
      - /resources/
      - /downloads/
      - /videos/
    - Documentation
  - - - /faq/
    - FAQ
---

{% comment %}
<!-- prettier-ignore -->
{% endcomment %}

{% capture css %}
  {% include "style.css" %}
{% endcapture %}

{% capture full_title -%}
{%- if title -%}
{{ title }} – Home Assistant Yellow
{%- elsif guideName -%}
{{ guideName }} – Home Assistant Yellow
{%- else -%}
Home Assistant Yellow
{%- endif -%}
{%- endcapture %}
{% comment %}
<!-- prettier-unignore -->
{% endcomment %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ full_title }}</title>
    <meta name="description" content="{{ description }}" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:title" content="{{ full_title }}" />
    <script
      src="https://kit.fontawesome.com/ee3aba475c.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <style>
    {{ css }}
    .buy-button {
      cursor: pointer;
    }
  </style>
  <body>
    <div class="container">
      <div class="nav-bar">
        <a class="logo" href="/"
          >
          <picture>
            <source srcset="/images/yellow-logo-white.png" media="(prefers-color-scheme: dark)">
            <img src="/images/yellow-logo.png" alt="Home Assistant Yellow" />
          </picture>
        </a>
        <ul>
          {% for item in menu %}
          <li>
            <a
              class="{% if item[0] contains page.url %}active{% endif %}"
              href="{{ item[0][0] }}"
              >{{ item[1] }}</a
            >
          </li>
          {% endfor %}
          <li>
            <a
              class="buy-button"
              target="_blank"
              href="https://www.home-assistant.io/yellow"
              >Buy</a
            >
          </li>
        </ul>
      </div>
    </div>

    <div class="content">{{ content }}</div>

    <div class="container">
      <div class="footer">
        <div>
          Home&nbsp;Assistant Yellow &nbsp; – &nbsp;
          <a href="mailto:yellow@home-assistant.io">Contact</a>
          &nbsp; – &nbsp;
          <a href="https://www.github.com/home-assistant" target="_blank"
            >GitHub</a
          >
          &nbsp; – &nbsp;
          <a href="https://discord.com/invite/home-assistant" target="_blank"
            >Discord#yellow</a
          >
          &nbsp; – &nbsp;
          <a href="https://www.home-assistant.io/" target="_blank"
            >home-assistant.io</a
          >
          &nbsp; – &nbsp;
          <a href="https://www.nabucasa.com/" target="_blank"
            >Nabu Casa</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
