<div class="container">
  <div>
    <a
      href="#{{ proc.title | slugify }}"
      id="{{ proc.title | slugify }}"
      class="anchor"
    >
      <h1>{{ proc.title }}</h1>
    </a>
    {% for item in proc.steps %}
    <div class="step">
      <a
        href="#{{ item.title | slugify }}"
        id="{{ item.title | slugify }}"
        class="anchor"
      >
        <div class="layout horizontal center">
          <h2>Step {{ forloop.index }}</h2>
          <span class="title">{{item.title}}</span>
        </div>
      </a>
      {% if item.image or item.content %}
      <div class="step-image-instruction">
        {% if item.image %}
          {% if item.image-apply-filter %}
            <div class="image-container image-container-filtered"><img src="/images/{{item.image}}" /></div>
          {% else %}
            <div class="image-container"><img src="/images/{{item.image}}" /></div>
          {% endif %}
        {% endif %} {% if item.content %}
        <div>{{item.content}}</div>
        {% endif %}
      </div>
      {% endif %}
    </div>
    <hr />
    {% endfor %}
  </div>
</div>