<div class="container">
  <div>
    {% if tools %}
    <a
      href="#{{ tools.title | slugify }}"
      id="{{ tools.title | slugify }}"
      class="anchor"
    >
      <h1>{{ tools.title }}</h1>
    </a>
    <div class="step">
      <div class="step-image-instruction">
        {% if tools.image %}
        <div class="image-container"><img src="/images/{{tools.image}}" /></div>
        {% endif %} {% if tools.content %}
        <div>{{tools.content}}</div>
        {% endif %}
      </div>
    </div>
    {% endif %}
  </div>
</div>
